:root {
  --background-color: rgba(250, 250, 250, 1);
  --base-shade-100: rgba(0, 0, 0, 1);
  --base-shade-30: rgba(0, 0, 0, 0.3);
  --base-shade-50: rgba(0, 0, 0, 0.5);
  --base-white-100: rgba(255, 255, 255, 1);
  --body-1-emphasized-font-family: "Inter", Helvetica;
  --body-1-emphasized-font-size: 14px;
  --body-1-emphasized-font-style: normal;
  --body-1-emphasized-font-weight: 600;
  --body-1-emphasized-letter-spacing: 0px;
  --body-1-emphasized-line-height: 18px;
  --body-2-font-family: "Inter", Helvetica;
  --body-2-font-size: 12px;
  --body-2-font-style: normal;
  --body-2-font-weight: 400;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: normal;
  --dialog-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
  --gray-400: rgba(168, 176, 185, 1);
  --just-white: rgba(255, 255, 255, 1);
  --label-emphasized-font-family: "Inter", Helvetica;
  --label-emphasized-font-size: 17px;
  --label-emphasized-font-style: normal;
  --label-emphasized-font-weight: 600;
  --label-emphasized-letter-spacing: 0px;
  --label-emphasized-line-height: 22px;
  --main-color: rgba(255, 81, 81, 1);
  --primary-subtitle-color: rgba(104, 104, 104, 1);
  --primary-title-color: rgba(48, 48, 48, 1);
  --secondary-subtitle-color: rgba(104, 104, 104, 1);
  --secondary-title-color: rgba(48, 48, 48, 1);
  --softer-dividers: rgba(239, 240, 246, 1);
  --stroke-color: rgba(239, 240, 246, 1);
  --tertiary-color: rgba(22, 30, 84, 1);
  --text-secondary-54p: rgba(0, 0, 0, 0.54);
  --title-medium-font-family: "Poppins", Helvetica;
  --title-medium-font-size: 18px;
  --title-medium-font-style: normal;
  --title-medium-font-weight: 500;
  --title-medium-letter-spacing: 0px;
  --title-medium-line-height: 28px;
}
